@import "../colors";
@import "./markdown.scss";
@import "./helpers.scss";

@mixin generics {
  a {
    color: $link;
  }

  .border-gray-light {
    @include border;
  }

  .border-gray-dark {
    border-color: lighten($bg, 5%) !important;
  }

  .text-gray {
    color: lighten($comment, 5%) !important;

    .octicon {
      fill: lighten($comment, 5%);
    }
  }

  .text-gray-dark {
    @include color($comment, 15%);
  }

  .bg-gray {
    @include background($border);
  }
  .bg-gray-light {
    background: lighten($background, 4%) !important;
  }

  .bg-white {
    background: $border !important;
    @include border;
    color: $foreground !important;
  }

  .bg-purple {
    @include background($purple);
    @include color($bg);
  }

  .bg-blue-light {
    @include background($cyan);
    @include color($bg);

    .text-gray-dark {
      @include color($bg);
    }
  }

  .border-blue {
    border-color: $cyan !important;
  }

  .border-bottom,
  .border-top {
    border-color: lighten($border, 5%) !important;
  }

  .border-green {
    border-color: $green !important;
    color: $green !important;
  }

  .border,
  .border-lg-left {
    @include border();
  }

  .link-gray-dark {
    @include color($border);
  }
}
