@import "../colors.scss";
@import "./syntax.scss";

@mixin markdown {
  @include background($bg, 5%);
  color: $fg !important;

  img {
    background: transparent;

    &#user-content-dracula-invert {
      filter: invert(1);
    }

    &#user-content-dracula-brighten-25 {
      filter: brightness(1.25);
    }

    &#user-content-dracula-brighten-50 {
      filter: brightness(1.5);
    }

    &#user-content-dracula-brighten-75 {
      filter: brightness(1.75);
    }

    &#user-content-dracula-darken-25 {
      filter: brightness(0.75);
    }

    &#user-content-dracula-darken-50 {
      filter: brightness(0.5);
    }

    &#user-content-dracula-darken-75 {
      filter: brightness(0.25);
    }

    &#user-content-dracula-opacity-0 {
      filter: opacity(0);
    }

    &#user-content-dracula-opacity-25 {
      filter: opacity(0.25);
    }

    &#user-content-dracula-opacity-50 {
      filter: opacity(0.5);
    }

    &#user-content-dracula-opacity-75 {
      filter: opacity(0.75);
    }
  }
  hr {
    background: $bg;
  }
  h1,
  h2,
  h3 {
    border-bottom-color: $bg;
  }

  // Syntax Highlighting
  pre,
  code {
    background: $bg;
    @include syntax;
  }
}
