/* COLOR DEFINITIONS */
$purple: #bd93f9;
$green: #50fa7b;
$cyan: #8be9fd;
$orange: #ffb86c;
$pink: #ff79c6;
$red: #ff5555;
$yellow: #f1fa8c;

/* ELEMENT DEFINITIONS */
$background: #282a36;
$bg: #282a36;
$foreground: #f8f8f2;
$fg: #f8f8f2;
$comment: #6272a4;
$border: #44475a;
$link: cyan;
$active: $purple;
$text: #f8f8f2;
