@import "./colors";

@mixin background($background: $background, $shade: 0) {
  background: lighten($background, $shade) !important;
}

@mixin border($shade: 0) {
  border-color: lighten($border, $shade) !important;
}

@mixin color($color, $shade: 0) {
  color: lighten($color, $shade) !important;
}

@mixin hoverColor($color, $shade: 0) {
  &:hover {
    @include color($color, $shade);
  }
}

@mixin hoverBg($color, $shade: 0) {
  &:hover {
    @include background($color, $shade);
  }
}

@mixin button($bg, $fg) {
  background: $bg !important;
  color: $fg !important;
  border-color: darken($bg, 5%) !important;
  svg {
    fill: $fg !important;
  }
  &:hover {
    background: lighten($bg, 5%) !important;
    border-color: darken($bg, 5%);
  }
  &:active,
  &.selected {
    background: darken($bg, 5%) !important;
  }
}

@mixin scrollbar {
  &::-webkit-scrollbar-track {
    background-color: $border;
  }

  &::-webkit-scrollbar {
    height: 6px;
    background-color: $purple;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $purple !important;
  }
}

@mixin syntax {
  .blob-code-inner {
    background: $background;
  }
  .blob-num {
    @include color($comment);
  }
  .blob-code-inner {
    @include color($foreground);
  }
  .pl-smi {
    @include color($foreground);
  }
  .pl-c {
    @include color($comment);
    .pl-en .pl-smi {
      @include color($red);
    }
  }
  .pl-k {
    @include color($red);
  }
  .pl-c1 {
    @include color($cyan);
  }
  .pl-s,
  .pl-pds {
    @include color($green);
  }
  .pl-en {
    @include color($purple);
  }
  .pl-s1 {
    @include color($pink);
  }
  .pl-ent {
    @include color($orange);
  }
  .pl-sr {
    @include color($yellow);
  }
  .pl-mi1 {
    background: $green;
    @include color($background);
  }
  .pl-md {
    background: $red;
    @include color($background);
  }
  del {
    opacity: 0.4;
    background: $red;
    @include color($background);
  }
}

@mixin generics {
  a {
    color: $link;
  }

  .border-gray-light {
    @include border;
  }

  .border-gray-dark {
    border-color: lighten($bg, 5%) !important;
  }

  .text-gray {
    color: lighten($comment, 5%) !important;

    .octicon {
      fill: lighten($comment, 5%);
    }
  }

  .text-gray-dark {
    @include color($comment, 15%);
  }

  .bg-gray {
    background: $background !important;
  }
  .bg-gray-light {
    background: lighten($background, 4%) !important;
  }

  .bg-white {
    background: $border !important;
    @include border;
    color: $foreground !important;
  }

  .border-blue {
    border-color: $purple !important;
  }

  .border-bottom,
  .border-top {
    border-color: lighten($border, 5%) !important;
  }

  .border-green {
    border-color: $green !important;
    color: $green !important;
  }
}
